<% provide(:title, t('.about_html')) %>
<h1><%= t('.about_html') %></h1>

<p><%= t('.paragraph1_html') %></p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ullamcorper dictum dolor in eleifend. Pellentesque
  habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eu lobortis risus. Nulla ac
  lorem dolor. In efficitur nisi ultrices ante dignissim, sed interdum leo accumsan. Phasellus id placerat velit. Donec
  et finibus lorem.
</p>

<p>
  Aenean neque sem, dapibus non blandit sed, ornare vitae sem. Nam suscipit gravida nulla, at sollicitudin libero
  pharetra quis. Aliquam posuere nisi elementum viverra volutpat. Vivamus vulputate rhoncus elit, eu tempor lectus
  tempor ut. Mauris vitae efficitur ex, in eleifend metus. Quisque a risus justo. Vivamus faucibus lectus in tellus
  sagittis egestas. Nunc orci ligula, tempus eget ante eu, volutpat pharetra arcu. Praesent interdum, urna sed interdum
  venenatis, ipsum purus imperdiet ante, sit amet auctor lectus velit ut dui. Praesent ornare iaculis nulla a accumsan.
  Donec id metus velit. Integer interdum, erat nec sagittis venenatis, tellus enim semper ipsum, nec tempor nisl est
  eget tortor. Maecenas auctor, orci nec egestas imperdiet, est orci sagittis massa, a scelerisque velit tellus ac diam.
  Mauris ut lorem dictum mi faucibus pulvinar a a urna.
</p>

<p>
  In hac habitasse platea dictumst. Praesent sed tristique nisl, eu blandit leo. Fusce porttitor velit sapien, et
  sodales turpis sagittis nec. Donec rutrum augue augue, at vehicula elit tempus sit amet. Suspendisse potenti.
  Curabitur tristique aliquam interdum. Cras in pharetra purus. Proin congue, sapien nec pellentesque laoreet, dolor
  augue maximus ipsum, eget dictum orci neque id lorem.
</p>

<p>
  Sed lacus augue, viverra non est ut, maximus tincidunt ex. Vestibulum luctus tincidunt lorem pulvinar sagittis. Donec
  euismod cursus odio commodo laoreet. In massa nisi, faucibus quis ex eget, sagittis semper felis. Fusce vitae urna vel
  leo dictum euismod sit amet non erat. Donec feugiat urna vulputate vestibulum tristique. Suspendisse id ante risus.
</p>

<p>
  In massa arcu, varius viverra eros molestie, consequat lobortis dolor. Nulla vel nisl euismod, hendrerit nunc quis,
  consectetur odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean sit amet purus at enim semper
  eleifend non at massa. Vivamus eget dui erat. Curabitur sit amet erat velit. Pellentesque luctus ex dui, non interdum
  ipsum efficitur id. Integer ut purus et velit venenatis auctor. Integer nisi ipsum, lobortis et risus quis, vestibulum
  venenatis ipsum. Nullam laoreet in risus nec facilisis. Curabitur in urna eget neque commodo blandit at id sem.
</p>
