<% provide(:title, t('.contact_html')) %>
<h1><%= t('.contact_html') %></h1>

<p><%= t('.paragraph1_html') %></p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta, libero sit amet eleifend pulvinar, purus felis
  molestie nunc, id ultricies ipsum urna quis dui. Fusce id varius lectus. Suspendisse potenti. Duis at turpis mollis,
  efficitur lorem id, rutrum mauris. Nulla diam libero, tempus eu enim ut, porttitor dictum enim. Aenean at lacus
  rutrum, ornare ligula sit amet, congue magna. Suspendisse non sapien et eros molestie facilisis. Nullam at iaculis
  ante. Sed massa turpis, maximus in cursus in, mollis sit amet justo.
</p>

<p>
  Duis auctor augue at urna vulputate, vel sagittis tortor pharetra. In risus quam, bibendum vel blandit et, venenatis
  ut dui. Aliquam nec massa varius, ultricies nibh in, sagittis orci. Maecenas quis luctus lacus. Donec eu enim ut
  ligula dictum tristique. Proin in libero quis est ultrices blandit. Maecenas auctor tempor eros eget iaculis. Morbi
  mollis est quis nisi vestibulum tempus. Quisque elementum nisl eu mauris luctus gravida. Integer quis aliquet massa.
  Duis finibus efficitur tortor eget faucibus. Cras eget scelerisque tellus. Phasellus aliquet tempus eros, eu faucibus
  justo sagittis eu. Aenean vehicula mauris et leo luctus, non porttitor dolor tincidunt. Ut aliquet, felis sed
  scelerisque venenatis, orci ipsum accumsan enim, ut vestibulum tortor est non nunc. Vivamus ac congue dolor, sit amet
  pharetra eros.
</p>

<p>
  Nunc id hendrerit justo, et consectetur massa. Nunc at velit orci. Etiam auctor tempor arcu, nec elementum libero
  imperdiet at. Vivamus id maximus quam. Aliquam tempus ultricies porta. Nulla hendrerit blandit suscipit. Cras
  fringilla placerat hendrerit. Vivamus vestibulum accumsan libero, nec ultrices felis faucibus nec. Nulla orci nisl,
  varius gravida pulvinar eget, finibus id purus. Maecenas sed sagittis odio. Integer erat lacus, euismod sed bibendum
  vitae, ultricies eget neque.
</p>

<p>
  Nullam eget eros id ex eleifend tincidunt. Aenean eget tempor est. Nulla ut cursus lorem, quis tempus urna. Nulla eget
  velit orci. Proin massa arcu, gravida vel fermentum in, lacinia id augue. Vestibulum sodales ultrices sem, non
  pulvinar leo tincidunt vitae. In vitae nunc in augue imperdiet mollis quis id est. Nulla elementum pulvinar magna,
  placerat aliquet nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis a
  nulla sed nulla molestie scelerisque. Nunc ex lacus, auctor rhoncus viverra nec, eleifend non urna.
</p>

<p>
  Vivamus eu rutrum nisl. Donec sit amet enim ac nibh finibus pellentesque a at mi. Etiam lacinia, ante eu feugiat
  maximus, velit lorem euismod orci, et vulputate leo lorem nec nibh. Donec maximus ex quis arcu pretium euismod.
  Phasellus eu quam et lorem tincidunt rutrum sit amet pharetra tortor. Maecenas egestas ligula eu ante volutpat, a
  sollicitudin neque accumsan. Praesent dictum eu odio a vulputate. Donec ac mauris varius ipsum sagittis semper.
</p>
