<% provide(:title, t('.news_html')) %>
<h1><%= t('.news_html') %></h1>

<p><%= t('.paragraph1_html') %></p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in lacus ullamcorper, dignissim nulla a, feugiat leo.
  Nulla vitae luctus nunc. Nam in nibh risus. Vestibulum sed enim vehicula, euismod orci vitae, aliquet ipsum. Aliquam
  luctus facilisis ligula at dignissim. Mauris fringilla at augue id imperdiet. Maecenas sit amet auctor mauris.
</p>

<p>
  Proin tincidunt massa ut massa cursus gravida. Fusce rutrum interdum libero, quis dignissim magna ultricies vitae.
  Aenean et feugiat nibh. Nunc rhoncus hendrerit dolor sed posuere. Fusce a congue nisl, pellentesque auctor erat.
  Integer euismod ac nibh vel vulputate. Mauris tincidunt sapien urna, eget congue elit consequat sit amet. Nulla
  sagittis lacus vitae mi congue vulputate. Donec tincidunt cursus ante sed malesuada. Duis eget elit libero.
</p>

<p>
  Praesent et auctor sem. Donec ultricies nisl eget augue consectetur vestibulum. Praesent porta eu erat aliquet
  volutpat. Pellentesque aliquam condimentum nibh et feugiat. Integer ex eros, lobortis eu lacus eget, porttitor
  ultrices dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed dignissim diam. Vivamus finibus
  felis erat, et ullamcorper ante fringilla id.
</p>

<p>
  Fusce sed sem rhoncus, facilisis nibh in, malesuada nulla. Maecenas convallis cursus egestas. Aenean vel consequat
  urna. Ut quis posuere massa, eget malesuada ex. Donec quis accumsan magna. Etiam consequat convallis arcu, id
  facilisis ex posuere sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque sem in
  massa euismod ultricies. Phasellus vel magna a velit lacinia iaculis. Aliquam rhoncus velit sed nisl porta, sed
  ultricies neque ullamcorper. Cras a mattis eros. Suspendisse nisl nulla, efficitur quis ultrices ut, sagittis ac dui.
  Etiam tincidunt placerat dolor eget malesuada. Cras finibus sapien arcu, vitae mollis massa efficitur et.
</p>

<p>
  Duis ac dolor auctor, aliquam nisl non, tempor est. Suspendisse pulvinar molestie nibh. Praesent tempus, purus eu
  dignissim posuere, dolor arcu aliquet risus, suscipit efficitur nisl justo ac libero. Nullam hendrerit placerat augue,
  in venenatis dui congue quis. Nunc varius odio non leo accumsan mollis. Cras ac nibh posuere elit aliquam dignissim.
  Etiam fringilla rhoncus massa, nec maximus eros faucibus sit amet.
</p>
