<% provide(:title, t('.privacy_html')) %>
<h1><%= t('.privacy_html') %></h1>

<p><%= t('.paragraph1_html') %></p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat quis orci sit amet ornare. Suspendisse
  maximus ex at lacus pellentesque, id elementum lorem tincidunt. Curabitur consequat mauris a libero dapibus ultricies.
  Sed placerat felis convallis, elementum massa id, maximus sapien. Ut aliquet pretium nunc vitae mollis. Ut hendrerit
  iaculis dignissim. Ut pulvinar est libero, in commodo lacus dignissim non. Nunc volutpat tellus in mauris malesuada
  dictum. Nam luctus metus at malesuada ullamcorper. Pellentesque dapibus mauris a ante placerat, id ultricies metus
  pellentesque. Nam vel sapien faucibus, venenatis lorem eu, pretium purus. Proin viverra risus feugiat porta dictum.
</p>

<p>
  Cras tincidunt ligula lacinia erat dictum, at feugiat nulla mollis. Vestibulum porta nunc lacus, nec scelerisque lacus
  placerat ut. Sed rhoncus sem vitae congue egestas. Praesent auctor pulvinar metus ut ornare. Proin scelerisque nibh ac
  tortor volutpat, nec aliquet nisi ultricies. Mauris tempor mattis leo eu elementum. Integer mauris justo, egestas id
  finibus non, efficitur id dolor. Mauris molestie nulla eget ligula facilisis gravida. Sed velit mauris, imperdiet ac
  odio fringilla, dictum viverra justo. Suspendisse vel pulvinar urna. Nam sodales, mi placerat cursus vehicula, purus
  sem volutpat libero, sed ullamcorper arcu purus sit amet quam. Sed convallis ex orci, at pharetra massa ullamcorper
  ut. Sed quis quam vitae arcu luctus lacinia id vel dui. Phasellus varius, purus sagittis dictum viverra, tortor est
  sagittis mauris, vel dapibus felis mi lobortis nibh. Maecenas egestas erat eu risus rutrum, non pretium nulla
  malesuada.
</p>

<p>
  Praesent lobortis ut tellus sit amet feugiat. Vivamus consequat sem at enim ornare sagittis. Phasellus vulputate urna
  non nulla cursus ultrices. Curabitur efficitur mollis lorem, eu fermentum lacus porttitor in. Morbi mattis dui lorem,
  ut malesuada lacus rutrum at. Nullam mollis sem non ipsum consectetur gravida. Praesent nulla justo, mattis
  sollicitudin enim non, eleifend efficitur lacus. Cras sit amet nunc non sapien facilisis ultricies eget dapibus risus.
</p>

<p>
  Etiam in felis ac lacus porttitor malesuada. Fusce quis tempor neque, sit amet porttitor est. Aenean et massa lorem.
  Cras porttitor quis libero et posuere. Sed varius elit id elementum tincidunt. Praesent sem nisi, malesuada a auctor
  quis, molestie iaculis nisi. In congue lacinia nunc et tincidunt. Nunc ante massa, luctus nec est sed, posuere maximus
  erat. Aenean ornare rhoncus ex, id finibus eros tincidunt id. Donec vitae eros ac magna ultricies euismod.
  Pellentesque dolor mauris, rhoncus id viverra quis, tempus at purus. Nullam porttitor mauris ac lorem molestie, a
  viverra lectus condimentum. Cras non enim ac nunc lacinia dictum in quis erat. Quisque venenatis ligula et dolor
  luctus molestie.
</p>

<p>
  Duis eget dolor ac mauris convallis consequat. Vivamus pharetra lectus at nisi tempus, ut accumsan ante vulputate.
  Vestibulum consequat ipsum at consectetur congue. Vivamus molestie metus sem. Nulla magna nisi, tincidunt quis commodo
  a, posuere mollis nunc. Donec finibus dui enim, vel sodales ex tempus ac. Morbi vestibulum neque sed eros ornare, eu
  vestibulum ligula porta.
</p>
