<% provide(:title, t('.questions_html')) %>
<h1><%= t('.questions_html') %></h1>

<p><%= t('.paragraph1_html') %></p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae purus auctor, viverra nibh sit amet, laoreet lectus.
  Sed eget nulla sollicitudin, porttitor nulla ac, pharetra dolor. Nulla elementum, mi vitae hendrerit scelerisque, nunc
  lectus tempor elit, non suscipit diam lorem in ligula. Donec eleifend nulla quis ipsum facilisis vestibulum. Cras
  congue posuere magna, in aliquam ligula sagittis at. Nunc cursus odio ligula, scelerisque venenatis velit bibendum
  eget. Aliquam erat nisl, molestie eu sapien quis, mattis cursus ex. Quisque at nisl et nunc viverra scelerisque eu nec
  lacus. Sed condimentum volutpat tellus sed viverra. Sed fermentum quam nec tortor lacinia, vitae scelerisque dolor
  imperdiet. Donec ac pretium ipsum. Quisque nec est lacus.
</p>

<p>
  Pellentesque eu varius dolor, quis commodo diam. Sed ultrices tincidunt lobortis. Praesent lobortis enim non dui
  auctor, ut dictum diam lacinia. Suspendisse nec neque a erat maximus porta non vel magna. Nulla congue tortor ac augue
  varius, ut ultricies sapien pellentesque. Duis feugiat nec arcu in placerat. Morbi eu egestas velit. Duis blandit
  rhoncus urna, et pharetra ex pulvinar quis. Aenean laoreet tempor velit, ornare varius sem iaculis in. Duis in enim
  sit amet tellus molestie posuere sit amet nec velit. Integer accumsan cursus tortor, et tempor nisi auctor nec. Sed
  purus odio, venenatis vitae faucibus tincidunt, pretium eu enim.
</p>

<p>
  Donec ornare venenatis quam vitae varius. Proin efficitur mi lobortis viverra molestie. In finibus nisi quis libero
  laoreet sollicitudin. Aenean turpis dui, euismod at nunc non, tempor gravida augue. Proin sed ultricies leo, non
  hendrerit odio. Nulla a pulvinar arcu, sit amet facilisis massa. In hac habitasse platea dictumst. Etiam imperdiet
  felis viverra ultricies ornare. Morbi commodo euismod elit a tempor. Mauris nunc est, euismod at commodo eu, hendrerit
  ac lacus. Vivamus eget libero vel ex rhoncus congue. Curabitur egestas mauris vel nibh pellentesque, at dictum ante
  rutrum.
</p>

<p>
  Integer vitae congue mauris, at volutpat nisi. Donec elit orci, tempor vitae dignissim eget, porta in neque. Proin
  felis mi, sodales quis consequat id, pretium at sapien. Praesent eget molestie quam. Nulla condimentum eros ut
  suscipit accumsan. Sed vitae elit ullamcorper, lacinia lacus sit amet, auctor orci. Suspendisse iaculis, lorem
  molestie blandit semper, risus elit euismod nibh, sed rhoncus nulla eros et eros. Aliquam erat volutpat.
</p>

<p>
  Aliquam porta maximus urna. Cras dictum lacinia maximus. Nam metus sem, ultrices quis eleifend sit amet, posuere sed
  odio. Nam non ex elit. Etiam eget fringilla nunc. Maecenas porttitor magna ut bibendum dapibus. Aenean lobortis nunc
  sed tellus efficitur, quis volutpat mi faucibus. Etiam ultricies arcu sed mauris congue ornare. Phasellus mattis
  fermentum massa, ac vulputate justo imperdiet aliquam. Etiam porta hendrerit ipsum pellentesque iaculis. Maecenas
  bibendum suscipit laoreet. Pellentesque non justo a mi congue tristique tristique sollicitudin nunc. Donec vitae magna
  suscipit velit ultricies fringilla maximus non magna.
</p>
