<% provide(:title, t('.terms_html')) %>
<h1><%= t('.terms_html') %></h1>

<p><%= t('.paragraph1_html') %></p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at elit quis lacus hendrerit mattis et aliquam
  nulla. Maecenas sit amet nulla et nulla elementum eleifend. Praesent scelerisque ligula sed velit mattis rhoncus. Ut
  viverra vel nulla vel mattis. Nullam id purus sem. Proin mattis eu arcu vel posuere. Class aptent taciti sociosqu ad
  litora torquent per conubia nostra, per inceptos himenaeos. Nullam placerat ultricies augue ac facilisis. Phasellus ac
  malesuada neque, in imperdiet enim.
</p>

<p>
  Nulla ac lacus nunc. Nullam accumsan libero sit amet enim blandit, et vestibulum sem commodo. Sed efficitur risus
  porttitor, egestas mauris a, euismod eros. Nam tincidunt nulla eu eros mollis scelerisque. Curabitur non consequat
  odio. Sed ac sem massa. Aenean feugiat nunc a tempor pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit.
</p>

<p>
  Quisque sit amet odio a mi bibendum feugiat sed sit amet sem. Cras fermentum enim id velit elementum, vitae dictum
  quam lacinia. Duis suscipit elit magna, ac hendrerit urna porttitor a. Curabitur non porta nibh. Etiam molestie est a
  laoreet ultricies. Nam gravida massa vitae arcu porttitor convallis. Duis dui diam, rutrum eu sem quis, mattis luctus
  neque. Donec id massa aliquam dolor imperdiet suscipit at ornare nisi.
</p>

<p>
  Cras ultricies nibh eget posuere pharetra. Integer hendrerit felis massa, ac volutpat urna suscipit pulvinar.
  Curabitur ut accumsan turpis. Ut id mi porttitor, semper ex et, varius erat. Aliquam odio metus, pretium sed leo vel,
  congue laoreet dolor. Pellentesque nec arcu molestie ante facilisis tincidunt. Cras varius congue euismod. Nam
  malesuada, ipsum sit amet imperdiet fringilla, sem sem lobortis nisi, nec tempus libero arcu eu mi. Suspendisse
  volutpat augue a interdum blandit.
</p>

<p>
  Donec lobortis euismod enim, ac feugiat nunc varius ac. Donec commodo nec nisl at fermentum. Pellentesque venenatis,
  felis eget dignissim vulputate, mauris elit accumsan sem, sit amet rutrum justo felis in nunc. Suspendisse porttitor
  tristique leo, quis mollis magna cursus in. Nam sagittis dolor velit, id mollis velit tincidunt varius. Maecenas
  faucibus tempor erat a gravida. Maecenas mollis auctor ex eu rhoncus. Nullam posuere est congue sapien pulvinar
  pharetra. Pellentesque tellus lacus, volutpat et scelerisque eu, dictum in velit. Sed est magna, congue hendrerit
  iaculis ac, congue et est. In in elit massa. Pellentesque habitant morbi tristique senectus et netus et malesuada
  fames ac turpis egestas. Praesent bibendum nulla vel ante ullamcorper, a consequat diam laoreet. Integer nec bibendum
  tortor. Suspendisse leo quam, dapibus id ullamcorper sed, fringilla at arcu. Integer tempor, ligula vel congue
  imperdiet, eros enim accumsan urna, eleifend blandit libero urna eget erat.
</p>
