.store {
  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #451152;
    border-bottom: 3px solid #f2f2f2;
  }

  .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px solid #451152;
    min-height: 100px;
    img {
      width: 80px;
      margin-right: 5px;
      margin-bottom: 5px;
      position: absolute;
    }
    h3 {
      font-size: 120%;
      font-family: sans-serif;
      margin-left: 100px;
      margin-top: 2px;
      margin-bottom: 2px;
      color: #451152;
    }
    p, div.price_line {
      margin-left: 100px;
      margin-top: 0.5em;
      margin-bottom: 0.8em;
      form, div {
        display: inline;
      }
    }

    .price {
      color: #451152;
      font-weight: bold;
      margin-left: 3em;
    }
  }
}
